body{
    font: 20px bold;
    font-family: "Arial Narrow"  ;
    font-size: 30px;
    color: indigo;
    background: bisque;
    margin: 0;
}


.link1{
    color: mediumvioletred;
    text-decoration: none;
    background: #987;
    font-family: Verdana;
    font-size: 170px;
    padding: 30px;
    display: inline-block; /* to make elements block instead of line  */
    /* display:  block   - we use too in css  */
    /* display:  none   - we use too in css  */
    /* visibility: hidden  - element still exists on a page but  not shown   */
}


.my-div1{
    display: inline ; /* to make elements line instead o block  */

    width: 700px;
    height: 400px;  /* for block elements only  */
    font-family: Verdana;
    font-size: 170px;
    padding: 30px;

}

.hidden{
    visibility: hidden;
    display: none;
    /* display: none;  */
}


.simple-table1{

    font-family: Verdana;
    font-size: 170px;
    padding: 30px;
    background: #444;
    color: #ffffff;
    border: 20px solid darkgreen;
    margin: 50px;

}

.div-table{

    font-family: Verdana;
    font-size: 170px;
    padding: 30px;
}

.simple-table1 td {
    border-right: 7px dashed gold;
    padding: 60px;
}

.simple-table1 tr {
    border-right: 7px dashed gold;
    padding: 60px;
}

.div-table{

    font-family: Verdana;
    font-size: 170px;
    padding: 30px;
    background: #444;
    color: #ffffff;
    border: 20px solid darkgreen;
    margin: 50px;
    display: table;

}


.div-td {
    border-right: 7px dashed gold;
    /*padding: 60px;*/
    display: table-cell;
    vertical-align: bottom;
    height: 600px; /*in block elements*/
}

.div-tr {
    border-right: 7px dashed gold;
    padding: 60px;
    display: table-row;


}

