body{
    font: 20px bold;
    font-family: "Arial Narrow"  ;
    font-size: 30px;
    color: indigo;
    background: bisque;
    margin: 0;
}

.form1 {

    width: 90% ;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;


}

#top-text{
    text-align: center;
    color: black;
    font-family: Verdana;
    font-size: 50px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.address-input {
    height: 80px;
    width: 60%;
    font-size: 50px ;
    font-weight: bold;
    font-family: Verdana;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 20px;
}

.search-input{
    height: 80px;
    width: 15%;
    font-size: 50px ;
    font-weight: bold;
    font-family: Verdana;
    margin-top: 5px;
    background-image: url("../img/search-ing.gif");
    background-repeat: no-repeat;

}

.btn-back{
     margin: auto;
     width: 100px;
     height: 100px;
    background: url("../img/back.gif");
 }

.btn-forward{
    margin: auto;
    width: 100px;
    height: 100px;
    background: url("../img/forward.gif");
}


.btn-stop {
    margin: auto;
    width: 100px;
    height: 100px;
    background: url("../img/stop.gif");
}
.btn-home{
    margin: auto;
    width: 100px;
    height: 100px;
    background: url("../img/home.gif");
}

#fieldset1{
    margin: 0;
     background: #C1C1C1;
    border: 2px solid black;

}

#fieldset2 {
    margin: 0;
    background: #FFFFFF;
    border: 2px solid black;
    padding-top: 80px;
}

#fieldset3 {
    margin: 0;
    background: #C1C1C1;
    border: 2px solid black;
}

.form1 textarea{
    width: 500px;
    height: 300px;
    font-size: 40px;
}

.inputs{
    width: 500px;
    height: 50px;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: auto;
}
.labels1{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 200px;
    margin-right: auto;
}

.radio-and-checkboxes{
    width: 50px;
    height: 50px;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;

}

.save-button{
    background: #B6D7A8;
    width: 500px;
    height: 50px;
    font-size: 40px;
    margin-left: 200px;
}

.labels2{
    font-size: 40px;
}


.choose-image{
    width: 500px;
    height: 50px;
    font-size: 40px;
    margin-left: 200px;
    background: antiquewhite;
}
