body{
    font: 20px bold;
    font-family: "Arial Narrow"  ;
    font-size: 30px;
    color: indigo;
    background: bisque;
    margin: 0;
    height: 8000px;
}

.dark-element{
    width: 100px;
    height: 100px;
    background: #434343;
    position: absolute; /*will be in the front and over the text */
   /* position is important often asked on interviews*/
    top: 400px;
    right: 90px;
}

.green-element{
    width: 100px;
    height: 100px;
    background: #4dbf15;
    position: fixed;  /*used for menu attached to top of browser window
    top: 200px;*/
    right: 600px;
}

.out-container{
    width: 600px;
    height: 400px;
    background: #e44835 ;
    top: 48px;
    left: 160px;
    position: relative;  /*container comes to the front relative to other containers*/
    /*try to remove 'position: relative' and see what changes in the page*/
}

.inside-container1{
    width: 100px;
    height: 100px;
    background: #2b31e4;
    position: absolute;
    top: 10px;
    left: 10px;
}

.inside-container2{
    width: 50px;
    height: 50px;
    background: chartreuse;
    position: absolute;
    top: -10px;
    right: -10px;   /*position-relative in parent container is important for using this feature*/
    z-index: 1;  /*for pop-ups z-index are made = 1000*/
}

.inside-container3{
    width: 50px;
    height: 50px;
    background: aqua;
    position: absolute;  /*position static is default*/
    top: -5px;
    right: -5px;   /*position-relative in parent container is important for using this feature*/
    z-index: 2;
}